

#bring{
    height: 1820px;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
}
#text{
    text-align: left;
    font-size: 2.4rem;
    line-height: 20px;
}
#text h1{
    font-weight: 500;
}
#text p {
    font-weight: 200;
    font-size: 1.6rem;
    color: rgb(153, 153, 153);
}
#descWrapper{
    margin-top: 12%;
}
@media only screen and (max-width: 780px) {
    #bring{
        height: 1000px;
    }
    #descWrapper {
        display: flex;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6%;
        margin-left: 4%;
    }
}