

#nine{
    position: absolute;
    height: 96%;
    width: 98%;
    background-color: rgb(12, 142, 175);
    top: 0%;
    left: -.2%;
    z-index: 100;
    font-family: 'VT323', monospace;
    filter: blur(.6px);
    border-left: inset 15px rgb(80, 80, 80);
    border-top: inset 15px rgb(80, 80, 80);
    border-right: inset 15px rgb(40, 40, 40);
    border-bottom: inset 15px rgb(40, 40, 40);
}
#name h2{
    font-weight: 200;
}
#windowsFile{
    position: relative;
    height: 100px;
    width: 160px;
    text-align: center;
    margin-top: 2%;
    animation: loadup 1.6s ease-in;
}
#windowsFile p{
    font-size: 1.2rem;
    color: white;
    margin-top: -14%;
    font-family: 'VT323', monospace;
    cursor: pointer;
}
#windowsIcon{
    height: 130px;
    width: 130px;
}
#mainLogo{
    height: 440px;
    width: 560px;
    margin-left: 28%;
    margin-top: 8%;
    position: absolute;
    animation: loadup 1.6s ease-in;
}
#static{
    width: 100%;
    height: 200px;
    position: absolute;
    background: black;
    opacity: 0.046;
    animation: flash 1s infinite, staticMove .6s infinite ease-in;
}   

#static1{
    width: 100%;
    height: 60px;
    position: absolute;
    background: black;
    opacity: 0.046;
    animation: flash .8s infinite, staticMove .7s infinite ease-out;
}
@keyframes flash {
    50% {
        opacity: 0;
    }
}
@keyframes staticMove {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100vh);
    }
}
@keyframes loadup {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
#startBtn{
    border: inset;  
    position: absolute;
    margin-left: 46%;
    margin-top: 22%;
    border-left: 2px inset rgb(138, 138, 138, 0.4);
    border-top: 2px inset rgb(138, 138, 138, 0.4);
    border-right: 2px inset rgb(0, 0, 0);
    border-bottom: 2px inset rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    font-size: 2rem;
}
@media only screen and (max-width: 780px) {
    #nine{
        border-left: inset 10px rgb(80, 80, 80);
        border-top: inset 10px rgb(80, 80, 80);
        border-right: inset 10px rgb(40, 40, 40);
        border-bottom: inset 10px rgb(40, 40, 40);
        height: 98%;
        width: 98%;
    }
    #startBtn{
        margin-left: 38%;
        margin-top: 72%;
    }
    #mainLogo{
        height: 170px;
        width: 260px;
        margin-left: 18%;
        margin-top: 48%;
    }
    #windowsFile {
        position: relative;
        height: 100px;
        width: 160px;
        margin-top: 8%;
    } 

}