
#windowgame{
    height: 500px;
    width: 660px;
    position: absolute;
    background-color: rgb(175, 175, 175);
    left: 200px;
    top: 80px;
}
#GnineTop {
    position: absolute;
    margin-top: 6px;
    width: 98%;
    margin-left: 6px;
    background: rgb(0, 0, 162);
    height: 30px;
}
#GnineTop h1 {
    position: absolute;
    margin-top: 0%;
    color: white;
    font-size: 1.8rem;
    margin-left: 1%;
}

#gameCanvas{
    margin-top: 1.2%;
    margin-left: -2.2%;
}
#gameBtn{
    border-left: 4px inset rgb(138, 138, 138, 0.4);
    border-top: 4px inset rgb(138, 138, 138, 0.4);
    border-right: 4px inset rgb(0, 0, 0);
    border-bottom: 4px inset rgb(0, 0, 0);
    font-family: 'VT323', monospace;
    font-size: 1.6rem;
    margin-left: 10%;
}
@media only screen and (max-width: 780px) {
    #windowgame{
        transform: scale(.54);
        left: -128px;
        top: 24px;
    }
}