

#descCard{
    height: 240px;
    width: 600px;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 4%;
    text-align: left;
    margin-bottom: 10%;
    margin-left: -40%;
    margin-top: 38%;
}
#descImg{
    height: 70px;
    width: 70px;
}
#descCard h1{
    font-size: 8rem;
    position: absolute;
    color: rgb(178, 178, 178);
    z-index: 2;
}
#descCard p {
    font-size: 2rem;
    font-weight: 200;
    position: relative;
    margin-top: -10%;
    margin-left: 30%;
    z-index: 3;
}
@media only screen and (max-width: 780px) {
    #descCard {
        margin-top: 16%;
        height: 280px;
        width: 160px;
        border-radius: 12px;
        margin-left: 1%;
        padding: 6%;
        font-size: .8rem;
    }
    #descImg {
        height: 50px;
        width: 50px;
        margin-left: 32%;
    }
}