

#projects{
    height: 3200px;
}
#title{
    text-align: left;
    font-size: 1.2rem;
    padding-left: 10%;
    line-height: 28px;
    margin-top: 4%;
}
#title h1{
    font-size: 4.6rem;
}
#title h2 {
    font-weight: 400;
    font-size: 2rem;
}
#projectsWrapper{
    width: 100%;
}
#proj1{
    margin-top: 10%;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    padding: 2%;
    display: flex;
    margin-top: 24%;
}
@media only screen and (max-width: 780px) {
    #projects{
        height: 3400px;
    }
    #title{
        line-height: 58px;
        transform: scale(.8);
    }
    #proj1{
        display: inline;
    }
}